{% load static %}
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'shop' %}">Shop</a>
                            <div class="megamenu">
                                {% for collection in collections %}
                                <ul class="single-mega cn-col-4">
                                        <li class="title">{{ collection.name }}</li>
                                        {% for cat in collection.collection_category.all %}
                                            <li><a href="{% url 'shop_category' cat.slug %}">{{ cat.name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% endfor %}
                                {#                                <ul class="single-mega cn-col-4">#}
                                {#                                    <li class="title">Men's Collection</li>#}
                                {#                                    {% for cat in men_category %}#}
                                {#                                        <li><a href="{% url 'shop_subcategory' cat.slug %}">{{ cat.name }}</a></li>#}
                                {#                                    {% endfor %}#}
                                {##}
                                {#                                </ul>#}
                                {#                                <ul class="single-mega cn-col-4">#}
                                {#                                    <li class="title">Kid's Collection</li>#}
                                {#                                    {% for cat in kids_category %}#}
                                {##}
                                {#                                        <li><a href="{% url 'shop_subcategory' cat.slug %}">{{ cat.name }}</a></li>#}
                                {#                                    {% endfor %}#}
                                {##}
                                {#                                </ul>#}
                            </div>
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'shop' %}">Shop</a></li>
                                <li><a href="single-product-details.html">Product Details</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="single-blog.html">Single Blog</a></li>
                                <li><a href="regular-page.html">Regular Page</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="{% static 'img/core-img/heart.svg' %}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="#"><img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="{% static 'img/core-img/bag.svg' %}" alt="">
                    <span>3</span></a>
            </div>
        </div>

    </div>
</header>
