<div class="col-12 col-md-4 col-lg-3">
    <div class="shop_sidebar_area">

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Categories</h6>

            {% for cat in categories %}
                <div class="catagories-menu">
                    <ul id="menu-content2" class="menu-content collapse show">
                        <!-- Single Item -->
                        <li data-toggle="collapse" data-target="#{{ cat.name }}">
                            <a href="#">{{ cat.name }}</a>
                            <ul class="sub-menu collapse show" id="{{ cat.name }}">
                                <li><a href="{% url 'shop_category' cat.slug %}">All</a></li>
                                {% for subcat in cat.category_subcategory.all %}
                                    <li><a href="{% url 'shop_subcategory' subcat.slug %}">{{ subcat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endfor %}

            <!--  Categories  -->
            {#            <div class="catagories-menu">#}
            {#                <ul id="menu-content2" class="menu-content collapse show">#}
            {#                    <!-- Single Item -->#}
            {#                    <li data-toggle="collapse" data-target="#clothing">#}
            {#                        <a href="#">clothing</a>#}
            {#                        <ul class="sub-menu collapse show" id="clothing">#}
            {#                            <li><a href="{% url 'shop_clothing' %}">All</a></li>#}
            {#                            {% for cat in clothing_subcategories %}#}
            {#                                <li><a href="{% url 'shop_subcategory' cat.slug %}">{{ cat.name }}</a></li>#}
            {#                            {% endfor %}#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <!-- Single Item -->#}
            {#                    <li data-toggle="collapse" data-target="#shoes" class="collapsed">#}
            {#                        <a href="#">shoes</a>#}
            {#                        <ul class="sub-menu collapse" id="shoes">#}
            {#                            <li><a href="{% url 'shop_shoes' %}">All</a></li>#}
            {#                            {% for cat in shoes_subcategories %}#}
            {#                                <li><a href="{% url 'shop_subcategory' cat.slug %}">{{ cat.name }}</a></li>#}
            {#                            {% endfor %}#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <!-- Single Item -->#}
            {#                    <li data-toggle="collapse" data-target="#accessories" class="collapsed">#}
            {#                        <a href="#">accessories</a>#}
            {#                        <ul class="sub-menu collapse" id="accessories">#}
            {#                            <li><a href="{% url 'shop_accessories' %}">All</a></li>#}
            {#                            {% for cat in accessories_subcategories %}#}
            {#                                <li><a href="{% url 'shop_subcategory' cat.slug|lower %}">{{ cat.name }}</a></li>#}
            {#                            {% endfor %}#}
            {##}
            {#                        </ul>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>

        <!-- ##### Single Widget ##### -->
        {#        <div class="widget price mb-50">#}
        {#            <!-- Widget Title -->#}
        {#            <h6 class="widget-title mb-30">Filter by</h6>#}
        {#            <!-- Widget Title 2 -->#}
        {#            <p class="widget-title2 mb-30">Price</p>#}
        {##}
        {#            <div class="widget-desc">#}
        {#                <div class="slider-range">#}
        {#                    <div data-min="49" data-max="360" data-unit="$"#}
        {#                         class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"#}
        {#                         data-value-min="49" data-value-max="360" data-label-result="Range:">#}
        {#                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>#}
        {#                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>#}
        {#                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>#}
        {#                    </div>#}
        {#                    <div class="range-price">Range: $49.00 - $360.00</div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#        <!-- ##### Single Widget ##### -->#}
        {#        <div class="widget color mb-50">#}
        {#            <!-- Widget Title 2 -->#}
        {#            <p class="widget-title2 mb-30">Color</p>#}
        {#            <div class="widget-desc">#}
        {#                <ul class="d-flex">#}
        {#                    <li><a href="#" class="color1"></a></li>#}
        {#                    <li><a href="#" class="color2"></a></li>#}
        {#                    <li><a href="#" class="color3"></a></li>#}
        {#                    <li><a href="#" class="color4"></a></li>#}
        {#                    <li><a href="#" class="color5"></a></li>#}
        {#                    <li><a href="#" class="color6"></a></li>#}
        {#                    <li><a href="#" class="color7"></a></li>#}
        {#                    <li><a href="#" class="color8"></a></li>#}
        {#                    <li><a href="#" class="color9"></a></li>#}
        {#                    <li><a href="#" class="color10"></a></li>#}
        {#                </ul>#}
        {#            </div>#}
        {#        </div>#}

        <!-- ##### Single Widget ##### -->
        <div class="widget brands mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Brands</p>
            <div class="widget-desc">
                <ul>
                    {% for brand in brands %}
                        <li><a href="{% url 'shop_brand' brand.slug %}">{{ brand.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>