{% load static %}
{% load pagination_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
<!-- ##### Header Area Start ##### -->
{% include 'inc/_header.html' %}
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span>3</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="{% static 'img/product-img/product-1.jpg' %}" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="{% static 'img/product-img/product-2.jpg' %}" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="{% static 'img/product-img/product-3.jpg' %}" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>$274.00</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                <li><span>discount:</span> <span>-15%</span></li>
                <li><span>total:</span> <span>$232.00</span></li>
            </ul>
            <div class="checkout-btn mt-100">
                <a href="checkout.html" class="btn essence-btn">check out</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>YS Store</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
        {% include 'inc/side_menu.html' %}

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span> {{ count_items }} </span> products found</p>
                                </div>
                                <!-- Sorting -->

                                <div class="product-sorting d-flex">

                                    <p>Sort by:</p>
                                    <form name="selectForm" action="{{request.get_full_path}}" method="get">
                                        <label for="orderby"></label>
                                        <select name="orderby" id="orderby" onchange="selectForm.submit();">
                                            <option value="">default</option>
                                            <option value="price">price: $ - $$</option>
                                            <option value="-price">price: $$ - $</option>
                                        </select>
                                        <input type="submit" class="d-none" value="submit">
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        {% for item in items %}

                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img" style="min-height: 440px;">
                                        {% if item.image %}

                                            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}"
                                                                                       alt="{{ item.name }}" width="293"
                                                                                       href="{{ item.get_absolute_url }}"
                                                                                       height="440"></a>
                                            <!-- Hover Thumb -->
                                        {% else %}
                                            <img src="https://yandex.ru/images/search?text=no%20photo&pos=13&img_url=https%3A%2F%2Fpm-montage.dk%2Fwp-content%2Fuploads%2F2020%2F06%2Fplaceholder.jpg&rpt=simage"
                                                 alt="{{ item.name }}">
                                        {% endif %}
                                        <!-- Product Badge -->
                                        {% if item.on_sale %}
                                            <div class="product-badge offer-badge">
                                                <span>-{{ item.discount }}%</span>
                                            </div>
                                        {% endif %}
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{ item.brand }}</span>
                                        <a href="{{ item.get_absolute_url }}">
                                            <h6>{{ item.name }}</h6>
                                        </a>
                                        {% if item.on_sale %}
                                            <p class="product-price"><span
                                                    class="old-price">{{ item.price }}Ꝑ</span>{{ item.get_sale }}Ꝑ</p>

                                        {% else %}
                                            <p class="product-price">{{ item.price }}Ꝑ</p>

                                        {% endif %}
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Single Product -->

                        <!-- Pagination -->
                        {% if page_obj.has_other_pages %}

                            </div>
                            <nav aria-label="navigation">
                                <ul class="pagination mt-50 mb-70">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                    {% endif %}

                                    {% for p in page_obj.paginator.page_range %}
                                        {% if page_obj.number == p %}
                                            <li class="page-item"><a class="page-link" href="#">{{ p }}</a></li>
                                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:+3 %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                            </li>

                                        {% endif %}
                                    {% endfor %}


                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?{% url_replace request 'page' page_obj.next_page_number %}"><i
                                                class="fa fa-angle-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            </div>
                            </div>
                        {% endif %}
</section>
<!-- ##### Shop Grid Area End ##### -->

<!-- ##### Footer Area Start ##### -->
{% include 'inc/_footer.html' %}
{#    <footer class="footer_area clearfix">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <!-- Single Widget Area -->#}
{#                <div class="col-12 col-md-6">#}
{#                    <div class="single_widget_area d-flex mb-30">#}
{#                        <!-- Logo -->#}
{#                        <div class="footer-logo mr-50">#}
{#                            <a href="#"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>#}
{#                        </div>#}
{#                        <!-- Footer Menu -->#}
{#                        <div class="footer_menu">#}
{#                            <ul>#}
{#                                <li><a href="shop.html">Shop</a></li>#}
{#                                <li><a href="blog.html">Blog</a></li>#}
{#                                <li><a href="contact.html">Contact</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- Single Widget Area -->#}
{#                <div class="col-12 col-md-6">#}
{#                    <div class="single_widget_area mb-30">#}
{#                        <ul class="footer_widget_menu">#}
{#                            <li><a href="#">Order Status</a></li>#}
{#                            <li><a href="#">Payment Options</a></li>#}
{#                            <li><a href="#">Shipping and Delivery</a></li>#}
{#                            <li><a href="#">Guides</a></li>#}
{#                            <li><a href="#">Privacy Policy</a></li>#}
{#                            <li><a href="#">Terms of Use</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row align-items-end">#}
{#                <!-- Single Widget Area -->#}
{#                <div class="col-12 col-md-6">#}
{#                    <div class="single_widget_area">#}
{#                        <div class="footer_heading mb-30">#}
{#                            <h6>Subscribe</h6>#}
{#                        </div>#}
{#                        <div class="subscribtion_form">#}
{#                            <form action="#" method="post">#}
{#                                <input type="email" name="mail" class="mail" placeholder="Your email here">#}
{#                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- Single Widget Area -->#}
{#                <div class="col-12 col-md-6">#}
{#                    <div class="single_widget_area">#}
{#                        <div class="footer_social_area">#}
{#                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>#}
{#                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>#}
{#                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>#}
{#                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>#}
{#                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#<div class="row mt-5">#}
{#                <div class="col-md-12 text-center">#}
{#                    <p>#}
{#                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}
{#    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </footer>#}
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Classy Nav js -->
<script src="{% static 'js/classy-nav.min.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>

</body>

</html>