{% load static %}
{% load pagination_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
<!-- ##### Header Area Start ##### -->
{% include 'inc/_header.html' %}
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
{% include 'inc/_cart.html' %}
<!-- ##### Right Side Cart End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>YS Store</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
        {% include 'inc/side_menu.html' %}

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span> {{ count_items }} </span> products found</p>
                                </div>
                                <!-- Sorting -->

                                <div class="product-sorting d-flex">

                                    <p>Sort by:</p>
                                    <form name="selectForm" action="{{request.get_full_path}}" method="get">
                                        <label for="orderby"></label>
                                        <select name="orderby" id="orderby" onchange="selectForm.submit();">
                                            <option value="">default</option>
                                            <option value="price">price: $ - $$</option>
                                            <option value="-price">price: $$ - $</option>
                                        </select>
                                        <input type="submit" class="d-none" value="submit">
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        {% for item in items %}

                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img" style="min-height: 440px;">
                                        {% if item.image %}

                                            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}"
                                                                                       alt="{{ item.name }}" width="293"
                                                                                       href="{{ item.get_absolute_url }}"
                                                                                       height="440"></a>
                                            <!-- Hover Thumb -->
                                        {% else %}
                                            <img src="https://yandex.ru/images/search?text=no%20photo&pos=13&img_url=https%3A%2F%2Fpm-montage.dk%2Fwp-content%2Fuploads%2F2020%2F06%2Fplaceholder.jpg&rpt=simage"
                                                 alt="{{ item.name }}">
                                        {% endif %}
                                        <!-- Product Badge -->
                                        {% if item.on_sale %}
                                            <div class="product-badge offer-badge">
                                                <span>-{{ item.discount }}%</span>
                                            </div>
                                        {% endif %}
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{ item.brand }}</span>
                                        <a href="{{ item.get_absolute_url }}">
                                            <h6>{{ item.name }}</h6>
                                        </a>
                                        {% if item.on_sale %}
                                            <p class="product-price"><span
                                                    class="old-price">{{ item.price }}Ꝑ</span>{{ item.get_sale }}Ꝑ</p>

                                        {% else %}
                                            <p class="product-price">{{ item.price }}Ꝑ</p>

                                        {% endif %}
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Single Product -->

                        <!-- Pagination -->
                        {% if page_obj.has_other_pages %}

                            </div>
                            <nav aria-label="navigation">
                                <ul class="pagination mt-50 mb-70">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                    {% endif %}

                                    {% for p in page_obj.paginator.page_range %}
                                        {% if page_obj.number == p %}
                                            <li class="page-item"><a class="page-link" href="#">{{ p }}</a></li>
                                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:+3 %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                            </li>

                                        {% endif %}
                                    {% endfor %}


                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?{% url_replace request 'page' page_obj.next_page_number %}"><i
                                                class="fa fa-angle-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            </div>
                            </div>
                        {% endif %}
</section>
<!-- ##### Shop Grid Area End ##### -->

<!-- ##### Footer Area Start ##### -->
{% include 'inc/_footer.html' %}
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Classy Nav js -->
<script src="{% static 'js/classy-nav.min.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>

</body>

</html>